<section class="container-fluid">
    <form class="forms mb-3 mt-3" *ngIf="!auth.user">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input name="email" type="email" class="form-control" [(ngModel)]="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" [(ngModel)]="password" id="exampleInputPassword1" placeholder="Password" name="password">
        </div>
        <a routerLink="/home" (click)="auth.emailSignIn(this.email, this.password)" type="submit" class="btn btn-primary">Login With e-mail </a>

        <button (click)="auth.googleProvider()" routerLink="/users" type="submit" class="btn btn-primary ml-4">Login With google </button>
      </form>  
      
      

</section>