<section>
    <!-- <img [src]="imgUrl" width=20%> -->
    <li *ngFor="let i of getItems; let pi = index">
        ({{pi}})
        <input #check id="check" [checked]="checkState.includes(i)" (change)="checked(check, pi)" type="checkbox"> 
        <span [class.task-done]="checkState.includes(i)" [id]="'secondElement' + pi" #secondElement>{{ i }}</span>

        <mat-icon 
        (click)="delete(pi)"
        aria-hidden="false" 
        aria-label="Example delete icon" 
        fontIcon="delete"
        style="cursor: pointer;">
        </mat-icon>

    </li>
    
</section>